<div class="navbar-band">
  <div class="navbar-left">
    left
  </div>
  <div class="navbar-center">
    <button type="button" class="buttonnav1">Créer une visite</button>
    <button type="button" class="buttonnav2">demander une visite</button>
    <button type="button" class="buttonnav1">Devenez guide</button>
  </div>
  <div class="navbar-right">

    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="buttonnav1">SUBSCRIPTION</button>
    <a href="#" class="btn btn-primary btn-lg active" role="button" title="Lien   1">LOGIN</a>
  </div>
</div>