<div class="visit-booking-form">
    <%= simple_form_for ([ @visit, @booking ]) do |f| %>
        <%= f.input :checking_date %>
        <%= f.input :checkout_date %>
        <%= f.submit "Reservez", class: "btn btn-primary btn-formulaire-sub" %>
    <% end %>
</div>