<h1> Dashboard </h1

<h2> Mes reservations de visite</h2>>
<% @bookings.each do |booking|  %>
            <ul>
            <li><%= booking.visit.title %></li>
            <li><%= booking.visit.place %></li>
            <li><%= booking.visit.price %></li>
            </ul>
            <% end %>

 
<%= link_to 'Back', visits_path, class: 'btn btn-primary btnback' %> 
       