<div>
    <%# image_tag 'https://res.cloudinary.com/ddkbkwzfv/image/upload/v1591872474/1210358_lc2bl6.jpg', class="banner" %>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
</div>
