<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddkbkwzfv/image/upload/v1591872474/1210358_lc2bl6.jpg);">
  <div class="container">
    <h1>TRIP WITH ME </h1>
    <p>Un voyage authentique</p>
  </div>
</div>


<div>
    <%# image_tag 'https://res.cloudinary.com/ddkbkwzfv/image/upload/v1591872474/1210358_lc2bl6.jpg', class="banner" %>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
</div>
