<head>
<title>Page Profil</title>
</head>
<body>

<div class="presentation">
<h1>Profil</h1>

<img class="avatar profil"><br/>
<img class="profilAvatar"
     src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1592228717/0_c77z56.jpg"
     alt="avatar">
     <br/>
     <br/>
     <div class = "userProfile">
    <ul><strong>Nom :</strong> Lionel Maddalone</ul>
    <ul><strong>Age :</strong> 35 ans</ul>
    <ul><strong>Ville :</strong> Aix en Provence</ul>
    <ul><strong>Langues parlées :</strong> Français, anglais, japonais</ul>
    <ul>Centre d'intérêt utilisateur sous forme hashtag</ul></div>


<p>texte de présentation de l'utilisateur</p>

    Review sur l'utilisateur<br/><br/>
</div>
</body><br/>



<%= link_to 'Back', visits_path, class: 'btn btn-primary btnback' %>