<head>
<title>Page Profil</title>
</head>

<div class="presentation container col-lg-9">
    <h1>Profil</h1>

    <img class="avatar profil"><br/>
    <img class="profilAvatar"
     src="https://res.cloudinary.com/ddkbkwzfv/image/upload/v1592228717/0_c77z56.jpg"
     alt="avatar">
     <br/>
     <br/>
     <div class = "userProfile">
        <ul><strong>Nom :</strong> Lionel Maddalone</ul>
        <ul><strong>Age :</strong> 35 ans</ul>
        <ul><strong>Ville :</strong> Aix en Provence</ul>
        <ul><strong>Langues parlées :</strong> Français, anglais, japonais</ul>
        <ul><strong>Centre d'intérêt:</strong> #randonnée #voyage #photographie </ul></div>
    

    <p>Passionnée par les voyages et la découverte de nouvelles cultures. J'apprend l'anglais et le japonais et je serai très heureux de partager une expérience pour améliorer ma langue.</p>
</div>
</div>

<br/>



<%= link_to 'Retour', visits_path, class: 'btn btnback btn-back' %>