// .card-visit {

// }
.ticket-form {
         -webkit-filter: drop-shadow(0px 0px 10px #cecece);
  filter: drop-shadow(0px 0px 10px #cecece);
      width: auto;
    height: auto;
    border-radius: 3px;
    background-size: 50%;
    background-position: center;
    margin: 30px;
    color: black;
    position: relative;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-decoration: none !important;
    padding: 40px;
}
.stamp-form {
         -webkit-filter: drop-shadow(0px 0px 10px #cecece);
  filter: drop-shadow(0px 0px 10px #cecece);
      width: auto;
    height: auto;
    border-radius: 3px;
    background-size: 50%;
    background-position: center;
    margin: 30px;
    color: black;
    position: relative;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-decoration: none !important;
    padding: 40px;
}



.ticket-img {
  -webkit-filter: drop-shadow(0px 0px 10px #cecece);
  filter: drop-shadow(0px 0px 10px #cecece);
      width: 320px;
    height: 395px;
    border-radius: 3px;
    background-size: 50%;
    background-position: top;
    margin: 30px;
    color: black;
    position: relative;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    text-decoration: none !important;
}

.ticket-img:hover {
    transition: 0.5s;
    transform-origin: top left;
    transform: rotate(-3deg);
}
// .card-visit:hover {
//     width: 300px;
//     height: 350px;
//     border-radius: 3px;
//     margin: 40px;
//     transform: rotate(-3deg);
//     box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
//     text-decoration: none !important;
// }

.imgcardvisit {
    top: 0px;
    height: 200px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px dashed #282828;
    // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    text-decoration: none !important;
    // position: relative;
}

.img-card-avatar {
    width: 70px;
    height: 70px;
    bottom: 20px;
    position: absolute;
    right: 20px;
    object-fit: cover;

}

.card-info {
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
    
}

.card-info-bottom h5{
    bottom: 5px;   
    position: absolute;
    text-decoration: none !important;
    writing-mode: sideways-lr;
    bottom: 15px;
    left: 30px;
    height: 50px;
    font-size: 18px;
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.card-info h3 {
    position: absolute;
    top: 73px;
    left: 30px;
    color: black;
}

.card-info h4 {
    position: absolute;
    top: 110px;
    left: 30px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.black-line {
    height: 160px;
    width: 6px;
    background-color: black;

    position: absolute;
    bottom: 15px;
    left: 15px;
}


.card-info-bottom {
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
