.form-background {
    background-color: #faaf2a;
    // position:absolute;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -40px;
    min-height: 85vh;
    // margin-bottom: -130px; pourquoi ca marche pas?

}

.formulaire {
    padding: 20px;
    font-size: 18px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.formulaire-cell {
    border-radius: 15px;
    color: black;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.btn-formulaire-sub {
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
    // display: flex;
    // justify-self: space-around;
}
.btn-formulaire-sub-edit {
    width: 40%;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
    // display: flex;
    // justify-self: space-around;
}
.btn-formulaire-sub-delete {
    width: 40%;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
    margin-bottom: 20px;
    // display: flex;
    // justify-self: space-around;
}
.btn-formulaire-sub-book {
    width: 80%;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
    margin-bottom: 20px;
    // display: flex;
    // justify-self: space-around;
}
