.img-visit-booking {
    border-radius: 5px;
    margin: 15px;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    
}

.visit-booking-form {
    margin: 15px;

}

.visit-booking-btn {
    margin: 15px;
}

.visit-booking-desc {
     margin: 15px;
}

.font-helvetica {
    font-family: "helvetica";
}

.style-tag {
    font-size: 15px;
    color: #666666;
    font-style: italic;
}

.white-circle {
    width: 49px;
height: 49px;
background: #FFFFFF;
box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 50%;
}

.banner-vertical {
    writing-mode: sideways-lr;
    padding-left: 10px;
}