.card-visit {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    background-color: indigo;
    
}

.imgcardvisit {
    top: 0px;
    height: 200px;
    width: 100%;
    position: absolute;
}

.card-info {
    padding: 10px;
}

.card-info-bottom {
    display: block;
    justify-content: space-between;    
}