// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "home";
@import "indexvisit";
@import "formulaire";
@import "visit-booking";


body {
    background-color: #fffaf3;
    position: relative;
    padding-bottom: 130px;
    min-height:100vh;
}
