.navbar-lewagon {
  justify-content: space-between;
  background: #f7d4bb;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
  // color:#FD7C20;
  margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}
